/*Header Styling*/

header {
  display: flex;
  justify-content: center;
  /* heading should take up most of the page */
  height: 90vh;
  align-items: stretch;
  /* create a gap between heading a main section */
  padding-bottom: 10vh;
  margin: 0 1vw;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 100%;
}

/* heading and quote wrapper added to allow varies quote lengths
to not affect the position of the main heading as using flexbox*/

.heading-wrapper {
  height: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.quote-wrapper {
  height: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.header-image-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Heading font size*/
.header-max {
  font-size: 3.5em;
}

/*controls the size of the header image*/
.header-image {
  width: 100%;
  height: auto;
}

/*Animation to fade quotes in and out*/
.rotating-quotes {
  animation-name: fadeInfadeOut;
  animation-duration: 10s;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes fadeInfadeOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*dont increase width of header after certain viewport width*/
@media (min-width: 1200px) {
  .header-max {
    font-size: 4em;
  }
  header {
    max-width: 1280px;
    margin: 0 auto;
  }
}
