/*Sections*/
section {
  display: flex;
  justify-content: center;
  margin: 0 auto 15vh auto;
  min-height: 55vh;
  /*section will fade in to view*/
  opacity: 0;
  width: 90%;
}

/*animation to fade the section into view, when they first enter the
viewpirt*/
.visible {
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-name: expand;
}

@keyframes expand {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.section-header {
  font-size: 3em;
  justify-self: flex-start;
}

/*various colors of the different sections heading underlining*/
#section-one-heading {
  border-bottom: 2px solid var(--section-one-color);
}

#section-two-heading {
  border-bottom: 2px solid var(--section-two-color);
}

#section-three-heading {
  border-bottom: 2px solid var(--section-three-color);
}

#section-four-heading {
  border-bottom: 2px solid var(--section-four-color);
}

/*applied to image container if the section has the image set to the
left*/
.section-left {
  order: -1;
}

.section-text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  max-width: 50%;
}

.section-image-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

/*images for each section*/
#section-one-image {
  background: url("../Images/bow.jpg") center / contain no-repeat;
}

#section-two-image {
  background: url("../Images/discussions.jpg") center / contain no-repeat;
}

#section-three-image {
  background: url("../Images/stock.jpg") center / contain no-repeat;
}

#section-four-image {
  background: url("../Images/calendar.jpg") center / contain no-repeat;
}

.section-image {
  max-width: 100%;
  height: auto;
}

.section-text {
  width: 90%;
  margin: 5px auto;
  text-align: justify;
  font-size: 1.2em;
}

button {
  align-self: center;
  margin: 20px;
  border: 1px solid;
  font-size: 1.5em;
  border-radius: 12px;
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

/*shadow on button on hover*/
button:hover {
  box-shadow: 0px 0px 5px 1px rgb(161, 161, 161);
}

/*each section button has a different color that matches the color
of the section header highlighting*/

#buttonOne {
  background-color: var(--section-one-color);
}

#buttonTwo {
  background-color: var(--section-two-color);
}

#buttonThree {
  background-color: var(--section-three-color);
}

#buttonFour {
  background-color: var(--section-four-color);
}

@media (min-width: 1200px) {
  section {
    max-width: 1280px;
    margin: 0 auto 20vh auto;
  }
}
