/* CSS colors to use*/
/*#C0E5FE
#BBF5D5
#FFD8D7
#D5D4F5
#FFEACB*/

body {
  margin: 0;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto; */
  font-family: "papyrus";
}

.border-debug {
  border: 2px solid black;
}

/*nav bar*/

nav {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin: 20px 20px 0 20px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}

ul > li {
  margin: 0 20px;
}

.underline-test {
  /* text-decoration: underline;
  text-decoration-color: blueviolet; */
  border-bottom: #c0e5fe 3px solid;
}

/* hero banner / header*/

header {
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
  padding-bottom: 5vh;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-left: 40px;
}

.header-max {
  font-size: 5em;
}

/*Main*/
main {
  max-width: 1024px;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  main {
    max-width: 1300px;
    margin: 0 auto;
  }
}

/*Sections*/
section {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20vh 0;
  max-height: 55vh;
}

/* #sectionOne {
  text-decoration: underline;
  text-decoration-color: #c0e5fe;
} */

.section-header {
  font-size: 3em;
  justify-self: flex-start;
}

#section-one-heading {
  border-bottom: 2px solid #c0e5fe;
}

#section-two-heading {
  border-bottom: 2px solid #bbf5d5;
}

#section-three-heading {
  border-bottom: 2px solid #ffd8d7;
}

#section-four-heading {
  border-bottom: 2px solid #d5d4f5;
}

.section-left {
  order: -1;
}

.section-text-container {
  display: flex;
  flex-direction: column;
  /* max-width: 400px; */
  text-align: center;
  justify-content: flex-start;
  max-width: 50%;
}

.section-image-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

#section-one-image {
  background: url("../Images/bow.jpg") center / contain no-repeat;
}

#section-two-image {
  background: url("../Images/discussions.jpg") center / contain no-repeat;
}

#section-three-image {
  background: url("../Images/stock.jpg") center / contain no-repeat;
}

#section-four-image {
  background: url("../Images/calendar.jpg") center / contain no-repeat;
}

.section-image {
  max-width: 100%;
  height: auto;
}

.section-text {
  width: 90%;
  margin: 5px auto;
  text-align: justify;
  font-size: 1.2em;
}

button {
  align-self: center;
  margin: 20px;
  border: none;
  font-size: 1.5em;
}

/*#C0E5FE
#BBF5D5
#FFD8D7
#D5D4F5
#FFEACB*/

#buttonOne {
  background-color: #c0e5fe;
}

#buttonTwo {
  background-color: #bbf5d5;
}

#buttonThree {
  background-color: #ffd8d7;
}

#buttonFour {
  background-color: #d5d4f5;
}

footer {
  background-color: black;
  color: #fff;
  height: 5vh;
}
