/* import styles from other files */
@import "./section.css";
@import "./navbar.css";
@import "./header.css";

/* define some custom CSS variables for section colours */
:root {
  --section-one-color: #c0e5fe;
  --section-two-color: #bbf5d5;
  --section-three-color: #ffd8d7;
  --section-four-color: #d5d4f5;
}

body {
  margin: 0;
  font-family: "papyrus";
  animation: fadeIn ease-in 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Main*/
main {
  margin: 0 auto;
}

footer {
  background-color: black;
  color: #fff;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top {
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  position: fixed;
  top: 90vh;
  left: 94vw;
  display: inline;
  opacity: 0;
  font-size: 1.8em;
  transition: 1s;
}

.scroll-to-top-visible {
  opacity: 0;
  animation-name: visible;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
